<h3>Lista de Usuários</h3>

<div class="row">
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>          
          <th scope="col">Nome</th>
          <th scope="col">SobreNome</th>
          <th scope="col">Email</th>
          <th scope="col">Telefone</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">          
          <td>{{u.nome}}</td>
          <td>{{u.sobrenome}}</td>
          <td>{{u.email}}</td>
          <td>{{u.telefone}}</td>
          <td> 
            <a 
              [routerLink]="['/usuario/create']"
              [state]="{data:u}"
              class="btn btn-primary">Editar
            </a> 
        </td>
          <td> 
              <button 
                [routerLink]="['/usuario/delete', u.id, u.nome]"  
                class="btn btn-success">Deletar
              </button> 
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <!-- <a class="nav-link"  (click)='collapse()'> -->
  <button class="col-sm-3 btn btn-success" [routerLink]='["/usuario/create"]'>Criar Novo</button>
<!-- </a> -->
  </div>
</div>

